<!DOCTYPE html>
<html>
<head>
  <title>ideasNow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= nav_bar :fixed => :top, :responsive => true, :brand => 'ideasNow' do %>
      <% menu_group do %>
        <%= menu_item "Ideas", ideas_path %>
        <%= menu_item "New Idea", new_idea_path %>
      <% end %>
    <% end %>

  <div class="container">
    <div class="row">
      <div id="main-container" class="span12">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
      
    </div>
  </div>

</body>
</html>
